<div class="tickets-page">

    <div class="tickets-header">
        <h1>Tickets</h1>
        <button class="new-ticket-btn">
            + New Ticket
        </button>
    </div>
    <p class="ticket-intro">Manage and track all support tickets in the system.</p>
    <div class="tickets-table-container">
        <p *ngIf="loading()">Loading tickets...</p>
        <p *ngIf="error()">{{ error() }}</p>
        <table class="tickets-table" *ngIf="!loading() && !error()">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Requester</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Details</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let ticket of tickets()">
                    <td>{{ ticket.ticket_id }}</td>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.requesterName }}</td>
                    <td>
                        <span class="badge" [ngClass]="getPriorityClass(ticket.priorityName)">
                            {{ ticket.priorityName || "Unknown" }}
                        </span>
                    </td>
                    <td>
                        <span class="badge" [ngClass]="getStatusClass(ticket.statusName)">
                            {{ ticket.statusName || "Unknown" }}
                        </span>
                    </td>
                    <td>{{ ticket.createdAt | date:'short' }}</td>
                    <td><button class="details-btn">View</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>